* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../assets/bgg.png') no-repeat;
	background-size: cover;
}

.navbar {
	height: 85px;
	width: 100%;
	background-color: transparent;
}

.logo {
	width: 270px;
	height: auto;
	padding: 1px 70px;
}

.navbar ul {
	float: right;
	margin-right: 100px;
}

.navbar ul li {
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}

.navbar ul li a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 6px 13px;
	font-family: 'Roboto', sans-serif;
}

.navbar ul li a.active {
	background: #03AC13;
}

.navbar ul li a:hover {
	background: #3DED97;
	border-radius: 2px;
}

.wrapper .gitna {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}

.gitna h1 {
	color: white;
	font-size: 60px;
	font-weight: bold;
	width: 900px;
	text-align: center;
}

.gitna h2 {
	color: white;
	font-size: 30px;
	font-weight: bold;
	width: 885px;
	margin-top: 10px;
	text-align: center;
}

.gitna .buttons {
	margin: 35px 400px;
}

.gitna .buttonss {
	margin: 35px 270px;
}

.buttons button {
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	background: #03AC13;
	border: 1px solid #black;
	outline: none;
	cursor: pointer;
	border-radius: 25px;
	transition: .3s;
}

.buttonss button {
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	background: #03AC13;
	border: 1px solid #black;
	outline: none;
	cursor: pointer;
	border-radius: 25px;
	transition: .3s;
}

.buttons .btn {
	margin-left: 25px;
}

.buttonss .btn {
	margin-left: 25px;
}

.buttons button:hover {
	background: #3DED97;
}

.buttonss button:hover {
	background: #3DED97;
}

.reg {
	width: 40%;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px;
}

#reg {
	width: 60%;
	margin: auto;
}

label {
	color: white;
	font-size: 20px;
	font-style: Bold;
}

h3 {
	color: #32612D;
	text-align: center;
	font-style: Bold;
	padding: 20px;
	font-size: 30px;
}

#namedd {
	width: 300px;
	outline: 0;
	padding: 5px;
	border: 3px groove;
	border-radius: 3px;
}

#office {
	width: 300px;
	outline: 0;
	padding: 5px;
	border: 3px groove;
	border-radius: 3px;
}

#person {
	width: 300px;
	outline: 0;
	padding: 5px;
	border: 3px groove;
	border-radius: 3px;
}

#purpose {
	width: 300px;
	outline: 0;
	padding: 5px;
	border: 3px groove;
	border-radius: 3px;
}

#plateNum {
	width: 300px;
	outline: 0;
	padding: 5px;
	border: 3px groove;
	border-radius: 3px;
}

#oras {
	width: 300px;
	outline: 0;
	padding: 5px;
	border: 3px groove;
	border-radius: 3px;
}

#email {
	width: 300px;
	outline: 0;
	padding: 5px;
	border: 3px groove;
	border-radius: 3px;
}

#yesorno {
	color: white;
	width: 20px;
	padding: 3px;
	font-size: 20px;
	font-style: Bold;
}

#sub {
	width: 300px;
	outline: 0;
	padding: 5px;
	border: 3px groove;
	color: white;
	font-size: 18px;
	font-style: Italic;
	background-color: #03AC13;
	cursor: pointer;
}